BasedOnStyle: Microsoft

UseTab: ForIndentation
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
PointerAlignment: Left

AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false

ColumnLimit: 80
